apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wordpress
  namespace: {{ .Values.store.name }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.store.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wordpress
            port:
              number: 80
