apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: {{ .Values.store.name }}
type: Opaque
stringData:
  MARIADB_DATABASE: wordpress
  MARIADB_USER: wp
  MARIADB_PASSWORD: wp
  MARIADB_ROOT_PASSWORD: root
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: {{ .Values.store.name }}
spec:
  serviceName: mariadb
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: {{ .Values.mariadb.image }}
          ports:
            - containerPort: 3306
          envFrom:
            - secretRef:
                name: mariadb-secret
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.mariadb.storage }}
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: {{ .Values.store.name }}
spec:
  selector:
    app: mariadb
  ports:
    - port: 3306
