apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: {{ .Values.store.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: {{ .Values.wordpress.image }}
        ports:
          - containerPort: 80
        env:
          - name: WORDPRESS_DB_HOST
            value: mariadb
          - name: WORDPRESS_DB_NAME
            value: wordpress
          - name: WORDPRESS_DB_USER
            valueFrom:
              secretKeyRef:
                name: mariadb-secret
                key: MARIADB_USER
          - name: WORDPRESS_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mariadb-secret
                key: MARIADB_PASSWORD

        volumeMounts:
          - name: wp-content
            mountPath: /var/www/html
      volumes:
        - name: wp-content
          persistentVolumeClaim:
            claimName: wp-content
---
apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: {{ .Values.store.name }}
spec:
  selector:
    app: wordpress
  ports:
    - port: 80
      targetPort: 80
